.article {
  border-bottom: solid 1px rgba(38, 45, 105, 0.67);
  padding: 0 1rem 3rem;
}

.title {
  color: rgb(38, 45, 105);
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

.desc {
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 2rem;
}

.link {
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}
